/* * {
    border: 1px solid red;
} */

.shoes-index {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
}

.title-container {
    background-color: #ececec;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.title-container-msg {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.title-header {
    font-size: 40px;
    font-family: BebasNeue;
    line-height: 1.1;
}

.title-msg {
    font-size: 14px;
    margin-top: 3%;
}

.title-container-img{
    height: 100%;
    width: 35%;
}

/* ---------------------------------------------- */
/* Filter options start here */
.filter-cat {
    display: block;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333;
}
.filter-options > div {
    display: block;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 10px;
}

/* --------------------------------------------- */
/* Shoe displays and filter start here  */

.index-container {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}

.index-filters {
    width: 20%;
}

.shoe-listings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 52%;
    /* margin: 0% 20% 0%; */
}

.shoe-listings a{
    text-decoration: none;
    color: #000;
}

.shoe-item-display {
    width: 150px;
    height: 215px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    margin-left: 10%;
    margin-top: 10%;
}

.shoe-item-pic {
    /* float:  right; */
    width:  150px;
    height: 110px;
    background-size: cover;
}

.shoe-item-name {
    font-size: 20px;
}