.shoe-detail-container {
    margin-top: 8%;
    width: 100%;
}

.shoe-detail-container > header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 40px;
    font-weight: 700;
    /* letter-spacing: 1px; */
}

.shoe-detail-misc {
    display: flex;
    flex-direction: row;
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 5px;
}

.shoe-detail-condition {
    display: flex;
    color: #999;
}

.shoe-detail-ticker {
    display: flex;
    color: #999;
}

.shoe-detail-img {
    width: 650px;
}