.follows-div {
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.follows-header {
  text-transform: uppercase;
  margin-bottom: 3%;
  width: 100px;
  font-family: 'impact';
  font-size: 30px;
}