.shoe-detail-container {
    margin-top: 8%;
    width: 100%;
    margin-left: 18%;
}

.shoe-detail-container > header {
    font-family: 'proxima-nova', sans-serif;
    font-size: 40px;
    font-weight: 700;
    /* letter-spacing: 1px; */
}

.shoe-detail-buttons-outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 55%;
}

.shoe-detail-buttons {
    width: 200px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.shoe-detail-misc {
    display: flex;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    font-weight: 600;
    margin-top: 5px;
}

.shoe-detail-condition {
    display: flex;
    color: #999;
}

.shoe-detail-condition > p {
    padding-left: 5px;
    padding-right: 12px;
}

.shoe-detail-ticker {
    display: flex;
    color: #999;
    padding-left: 12px;
}

.shoe-detail-ticker > p {
    padding-left: 5px;
    padding-right: 12px;
}

.shoe-detail-authenticity {
    padding-left: 12px;
}

.shoe-detail-img {
    width: 650px;
}