.shoe-orders {
  margin-top: 20px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: #888888;
}

.shoe-orders-size {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.shoe-orders-size > p {
  font-weight: bold;
}

.shoe-orders-size > span {
  font-size: 30px;
  color: black;
  padding-top: 5px;
}

.style-line {
  height: 100px;
  width: 1px;
  background-color: #c3c3c3;
  margin-left: 25px;
  margin-right: 15px;
}

.shoe-orders-last-sale {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.last-sale-bold {
  font-weight: bold;
}

.last-sale-num {
  color: black;
  font-size: 28px;
}

.last-sale-change {
  font-size: 16px;
}

.shoe-last-sale-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.shoe-asks {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shoe-buttons {
  text-decoration: none;
}

.shoe-asks > a {
  display: flex;
  flex-direction: row;
  background-color: #08a05c;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.shoe-asks > a:hover {
  background-color: green;
}

.asks-left > p {
  color: #c6e6c2;
  font-size: 18px;
}

.asks-left > .shoe-ask-price {
  color: white;
  font-size: 30px;
}

.asks-left-small {
  margin-right: 10px;
}

.asks-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-left: 1px solid green;
  height: 70%;
}

.asks-right-big {
  color: white;
  font-size: 30px;
}

.shoe-bids {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shoe-bids > a {
  display: flex;
  flex-direction: row;
  background-color: #ff5a5f;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.shoe-bids > a:hover {
  background-color: red;
}

#bids-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}


.bids-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-left: 1px solid #cc4c4c;
  height: 70%;
}

.bids-right-big {
  color: white;
  font-size: 30px;
}

.bids-right-small {
  color: #ffcfcf;
  font-size: 18px;
  margin-right: 10px;
}