.slideshow-container {
    padding: 18px 0px 24px 0px;
    height: 190px;
}

.slideshow-container div {
    height: 100%;
}

.slide-1 {
    background-image: image_url("jordan3-CHI-WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.slide-2 {
    background-image: image_url("jordan5_RetroOffWhite_WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.slide-3 {
    background-image: image_url("jordan_1_NC_to_CHI-WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}