.slideshow-container {
    padding: 18px 36px 24px 36px;
    height: 190px;
}

.slideshow-container div {
    border-radius: 5px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slide-1 {
    background-image: image_url("jordan3-CHI-WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: middle;
    background-size: contain;
}

.slide-2 {
    background-image: image_url("jordan5_RetroOffWhite_WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: middle;
    background-size: contain;
}

.slide-3 {
    background-image: image_url("jordan_1_NC_to_CHI-WebBanner.jpg");
    background-repeat: no-repeat;
    background-position: middle;
    background-size: contain;
}