.form-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-form-box {
    background: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    width: 398px;
    height: 550px;
    text-align: center;
}

.form-header-logo {
    display: flex;
    font-weight: 700;
    margin-top: 3%;
    color: black;
    font-size: 40px;
    justify-content: center;
    text-shadow: 1px 2px 3px #000000;
    text-decoration: none;
}

.form-z {
    text-decoration: none;
    color: #08a05c;
    font-size: 40px;
    font-weight: 800;
}

.form-input {
    display: flex;
    width: 328px;
    height: 23px;
    /* background: #FFFFFF; */
    margin: 15px 22.5px;
    padding: 10px 10px 5px;
    font-size: 20px;
    font-weight: 250;
    font-family: 'proxima-nova', sans-serif;
}

.tabContent {
    padding-top: 10%;
}

.loginContent, .signupContent {
    display: flex;
    flex-direction: column;
}

.buttons {
    /* padding: 50px 25px 25px; */
    display: flex;
    justify-content: center;
    margin-top: 38%;
}

.demo-button {
    width: 349px;
    height: 50px;
    font-size: 18px;
    background-color: #3b5998;
    color: #FFFFFF;
    border-radius: 2px;
}

.form-submit {
    width: 350px;
    font-size: 20px;
    margin-left: 6%;
}

.tabLinks {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 20px;
}

.login-tablink {
    border-width: 0px;
    border-bottom: 1px solid #010101;
    border-right: 1px solid white;
    height: 50px;
    width: 100%;
    padding: 14px;
    font-size: 18px;
}

.signup-tablink {
    border-width: 0px;
    border-bottom: 1px solid #010101;
    border-left: 1px solid white;
    height: 50px;
    width: 100%;
    padding: 14px;
    font-size: 18px;
}
