* {
    border: 1px solid red;
}

.title-container {
    background-color: lightgray;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.title-container-msg {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.title-header {
    font-size: 40px;
}

.title-msg {
    font-size: 16px;
    margin-top: 3%;
}

.title-container-img{
    height: 100%;
    width: 35%;
}

/* --------------------------------------------- */
/* .shoe-item {
    justify-content: center;
    height: 50%;
    width: 50%;
} */