/* * {
    border: 1px solid red;
} */

.title-container {
    background-color: lightgray;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.title-container-msg {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.title-header {
    font-size: 40px;
}

.title-msg {
    font-size: 16px;
    margin-top: 3%;
}

.title-container-img{
    height: 100%;
    width: 35%;
}

/* --------------------------------------------- */
.index-container {
    display: flex;  
}

.shoe-listings {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.shoe-item {
    margin-top: 10%;
}

.shoe-item-display {
    display: inline-block;
    width: 50%;
    border: 2px solid black;
    /* background-color: lightgray; */
    /* text-decoration: none; */
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-radius: 3px; */
}

.shoe-item-img {
    /* border: 2px solid lightgray; */
    width: 100%;
    /* height: 180%; */
}

.shoe-item-name {
    color: black;
    font-size: 20px;
    /* background-color: lightgray; */
}