/* * {
    border: 1px solid red;
} */

.title-container {
    background-color: lightgray;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.title-container-msg {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.title-header {
    font-size: 40px;
}

.title-msg {
    font-size: 16px;
    margin-top: 3%;
}

.title-container-img{
    height: 100%;
    width: 35%;
}

/* --------------------------------------------- */
.index-container {
    display: flex;
    margin-top: 5%;
}

.shoe-listings {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 20% 0%;
    text-decoration: none;
}

.shoe-item-display {
    display: inline-block;
    width: 150px;
    height: 215px;
    border: 2px solid lightgray;
    border-radius: 3px;
    background-color: lightgray;
}

.shoe-item-pic {
    /* float:  right; */
    width:  150px;
    height: 110px;
    background-size: cover;
}

.shoe-item-name {
    color: black;
    font-size: 20px;
}