.header-container {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.header-logo {
    display: inline-block;
    margin: 50px 0px 10px -50px;
    font-weight: 700;
    font-size: 30px;
}

.header-container li {
    padding: 50px 0px 10px 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    align-items: center;
}

.header-list {
    display: inline;
    font-size: 15px;
    list-style-type: none;
    text-align: center;
    margin: 60px 0px 15px 0px;
}

.header-list li{
    display: flex;
    padding: 5px;
}

.nav-links {
    display: flex;
}

.nav-dropdown {
    font-size: 16px;
    border: none;
}

.nav-dropdown-items{
    display: none;
    position: absolute; 
}

.nav-dropdown-items a {
    color: #000000;
    text-decoration: none;
    display: block;
    background-color: gray;
    width: 100px;
    background-size: inherit;
    height: 25px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.nav-dropdown-items a:hover {
    background-color: #ddd;
}

.nav-dropdown:hover .nav-dropdown-items {
    display: block;
}

.form-header {
    display: block;
}

.hidden {
    display: none;
}

/* ----------------------------------------------- */

.login-form-container {
    display: flex;
    justify-content: center;
}

.login-form-box {
    background: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 4.5px;
    width: 398px;
    height: 520px;
    text-align: center;
}

.form-header-logo {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
}

.form-input {
    width: 328px;
    height: 23px;
    background: #FFFFFF;
    margin: 0px 6px;
    padding: 16px 10px 5px;
    font-size: 16px;
    font-weight: 250;
    font-family: 'proxima-nova', sans-serif;
}

.buttons {
    align-content: flex-end;
    margin-top: 165px;
    padding: 25px 50px 25px;
    display: flex;
    justify-content: space-between;
}

.demo-button {
    width: 200px;
    height: 50px;
    font-size: 14px;
}

.session-submit {
    width: 200px;
    height: 50px;
    font-size: 14px;
}

.search-container {
    /* background-image: url("./images/sneaker-background.jpeg");
    background-position: center; */
    height: 520px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

/* .search-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: auto;
    background-position: 50% 50%;
    margin-left: auto;
} */

.search-background span {
    background-image: url("./images/sneaker-background.jpeg");
    width: 100%;
    height: 100%;
    position: absolute;
    color: transparent;
    background-size: contain;
    margin-left: auto;
}